@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    padding: 10px 0;
}
nav a {
    text-align: center;
    color: #83E8BA;
    text-decoration: none;
    padding: 10px 15px;
}
nav a:hover {
    background-color: #83E8BA;
    color: black;
}
.home-title {
    color: #504136;
    font-size: 2em;
}
.logo {
    width: 80px;
}
h4 {
    color: #504136;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #504136;
}
body {
    background-color: #B2E6D4;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
}
h2 {
    margin: 0;
}
header {
    background-color: #A49E8D;
}
.icon {
    width: 80px;
}
section {
    margin-bottom: 40px;
}
section h2 {
    margin: 5px 0;
}
.book, .join {
    background-color: #B2E6D4;
    color: #504136;
    text-decoration: none;
    font-size: 0.75em;
    padding: 5px 10px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: white;
    color: #504136;
}
.msg {
    background-color: #504136;
    line-height: 1.5em;
    padding: 30px;
}
.msg h2 {
    color: #B2E6D4;
}
.msg p {
    color: white;
    font-size: 0.8em;
}
.card-img {
    border: 10px solid black;
}
footer {
    background-color: #504136;
    padding: 30px;
}
footer h3 {
    color: #B2E6D4;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #83E8BA;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .icon {
    margin-right: 10px;
}